/* <!-- Adicionar espaçamento inferior e definir uma cor para destaque, ex: margin-bottom: 20px; color: blue; --> */
/* <!-- Alterar a cor do texto e adicionar um fundo para destaque, ex: color: #0f0; background-color: yellow; --> */


.titulo-principal {
    margin-bottom: 20px;
    color: blue;
}

.destaque {
    color: #0f0;
    background-color: yellow;
}