p {
    font-size: 1rem;
}



@media screen and (max-width:600px) {

    main,
    footer {
        margin-left: 100px;
    }

    main {
        min-height: calc(100vh - 32px);
    }
}

@media screen and (min-width: 601px) {
    main {
        min-height: calc(100vh - 32px - 100px);
    }
}


@media screen and (orientation: landscape) {
    body {
        background-color: rgb(255, 179, 0);
    }
}