.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 180px;
}